restmark.by {
    reverse_proxy restmark-frontend-app:3000
}

restmark.by/api/* {
    reverse_proxy restmark-api-app:8000
}

restmark.by/api {
    reverse_proxy restmark-api-app:8000
}

restmark.by/admin {
    reverse_proxy restmark-api-app:8000
}

restmark.by/admin/* {
    reverse_proxy restmark-api-app:8000
}

restmark.by/static/* {
    reverse_proxy restmark-api-app:8000
}