[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pycodestyle = "*"
psycopg = "*"
django-cors-headers = "*"
python-dotenv = "*"
requests = "*"
pillow = "*"
django-rest-framework = "*"
django-admin-sortable2 = "*"

[dev-packages]

[requires]
python_version = "3.12"
